---
import Base from "@/layouts/Base.astro";
import Tag from "@/components/Tag.astro";
import {
  FaGithub,
  FaLinkedin,
  FaAt,
  FaAddressCard,
  FaTwitter,
  FaPen,
} from "react-icons/fa";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import face from "../images/face.png";
const posts = await getCollection("blog");
---

<Base>
  <div class="my-auto flex flex-col items-center justify-center gap-4">
    <div class="flex flex-col items-center gap-2 sm:flex-row">
      <Image
        class="aspect-square size-48 overflow-hidden rounded-full object-cover"
        width="300"
        alt={`A self-portrait of a young man with curly dark hair and glasses,
        smiling faintly and looking directly at the camera. He is wearing a
        dark t-shirt and is seated outdoors at night, with blurred lights and
        structures in the background.`}
        src={face}
      />
      <ul class="flex max-w-full flex-row text-xl sm:flex-col sm:text-base">
        {
          [
            {
              url: "https://github.com/levydsa",
              icon: <FaGithub size={18} />,
              text: "@levydsa",
            },
            {
              url: "https://twitter.com/levyddsa",
              icon: <FaTwitter size={18} />,
              text: "@levyddsa",
            },
            {
              url: "https://linkedin.com/in/levy-albuquerque",
              icon: <FaLinkedin size={18} />,
              text: "@levy-albuquerque",
            },
            {
              url: "mailto:me@levy.lat",
              icon: <FaAt size={18} />,
              text: "me@levy.lat",
            },
          ].map(({ url, text, icon }) => (
            <li>
              <a
                href={url}
                class={`flex w-fit flex-row items-center gap-1 rounded-lg px-1 py-1 transition-colors hover:bg-zinc-900 hover:text-zinc-200 sm:px-2 hover:dark:bg-zinc-200 hover:dark:text-zinc-900`}
              >
                {icon}
                <span class="hidden break-keep sm:block">{text}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <main class="max-w-[45ch] text-justify hyphens-auto">
      <h2 class="text-xl font-medium">About</h2>
      <p class="mt-1">
        Hi! My name is <abbr title="/levi/">Levy</abbr>. I'm a software
        developer from Brazil mainly focused on low level programming, but
        interested on everything around math and engineering.
      </p>
    </main>
    <nav>
      <ul class="flex gap-1">
        <li><Tag url="/resume" text="Resume"><FaAddressCard /></Tag></li>
        <li><Tag url="/blog" text="Blog"><FaPen /></Tag></li>
      </ul>
    </nav>
    <div class="max-w-[45ch]">
      <ul class="mt-2">
        {
          posts
            .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
            .slice(0, 3)
            .map(({ id, data: { title, date } }) => (
              <li>
                <a
                  class="flex items-center justify-between border-l-4 border-zinc-900 px-4 py-2 duration-300 hover:border-zinc-300 hover:bg-zinc-200 dark:border-zinc-200 dark:hover:border-zinc-400 dark:hover:text-zinc-900"
                  href={`/blog/${id}`}
                >
                  <h3 class="mr-4 flex items-baseline text-xl font-medium">
                    {title}
                  </h3>
                  <aside class="font-mono text-xs opacity-50">
                    {date.toISOString().slice(0, 10)}
                  </aside>
                </a>
              </li>
            ))
        }
      </ul>
    </div>
  </div>
</Base>
